html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* font-family: "Raleway", sans-serif; */
/* font-family: "Roboto", sans-serif; */
img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* container */

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
/* container */

/* HEADER */
header{
  border-bottom: 1px solid #e7e9fc;
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
header .container {
  display: flex;
}
header nav {
  display: flex;
  align-items: center;
}

header nav .header-logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

header nav .nav-items .hover {
  border: 4px solid #404BBF;
  border-radius: 4px;
  align-items: center;
  
}

header nav .header-logo-link .logo-2 {
  color: #2e2f42;
}
header nav .nav-items {
  display: flex;
  gap: 40px;
}

header nav .nav-items .nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;

}


header nav .nav-items .nav-link:hover {
  color: #404bbf;
}

header nav .nav-items .nav-link:focus {
  color: #404bbf;
}

address {
  font-style: normal;
}
address ul {
  display: flex;
  gap: 40px;
  margin-left: 332px;
}
address .address-list .address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
address .address-list .address-link:hover {
  color: #404bbf;
}
address .address-list .address-link:focus {
  color: #404bbf;
}

/* HEADER */

/* HERO SECTİON */
.hero-image {
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #2E2F42B2;
  padding: 188px 0;
  max-width: 1440px;
}


.hero-image .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.hero-image .hero-header {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
  margin-bottom: 48px;
  
}
.hero-image .hero-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-image .hero-button:hover {
  background-color: #404bbf;
}
.hero-image .hero-button:focus {
  background-color: #404bbf;
}
/* HERO SECTİON */

/* LİST SECTİON */

.list-section {
  padding: 120px 0
}

section .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
section .container .list-items {
  display: flex;
  gap: 24px;
}
section .list-items .list-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f3f3fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}
section .list-items .list-icon .icon-antenna {
  width: 64px;
  height: 64px;
}


section .container .list-items .list {
  width: calc((100% - 72px) / 4);
}

section .list-items .list-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
section .list-items .list-items-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* LİST SECTİON */

/* OUR TEAM SECTİON */



.our-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.our-team .our-team-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.our-team .container .our-team-list {
  display: flex;
  gap: 24px;
  
}

section .our-teams {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section .container .our-team-list .our-teams .team-member{
  margin-top: 32px;
  margin-bottom: 8px;
}

section .our-team-list .our-teams .social-icon {
  width: 232px;
  height: 40px;
  display: flex;
  margin-top: 8px;
  margin-bottom: 32px;
  justify-content: center;
  gap: 24px;
}
section .our-team-list .our-teams .social-icon .icon{
 width: 40px;
 height: 40px;
}

section .ourteam-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
section .our-team-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
/* OUR TEAM SECTİON */

/* our-portfolio */

.our-portfolio {
  padding: 120px 0;

}

.our-portfolio h2 {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

section .portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

section .container .portfolio-list .portfolio {
  width: calc((100% - 48px) / 3);
}

section .container .portfolio-list .app-div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}
section .portfolio-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
section .portfolio-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* our-portfolio */

/* FOOTER */

footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
footer .container {
  display: flex;
  align-items: baseline;
}

footer .container .logo-p {
  margin-right: 120px;
}
footer .container .social-icon-footer .social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 16px;
}
footer .container .social-icon-footer .social-list {
  display: flex;
  gap: 16px;
}

footer .container .social-icon-footer .social-list .social-link{
  width: 40px;
  height: 40px;
}
footer .container .social-icon-footer .social-list .social-link .s-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .container .social-icon-footer .social-list .social-link .s-link:hover {
  background-color: #31d0aa;
}
footer .container .social-icon-footer .social-list .social-link .s-link:focus {
  background-color: #31d0aa;
}

footer .container .social-icon-footer .social-list .social-link .s-link .icon {

  fill: #f4f4fd;
}


footer .footer-logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

footer .footer-logo-link .footer-span {
  color: #F4F4FD;
}
footer .footer-p {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}
/* FOOTER */
